{% load static %}
{% for tool, tags in both %}
<div class="tool-div">
    <div class="d-flex justify-content-between">
        <a>{{ tool.nome }}</a>
        <button class="add-remove">x Remove</button>
    </div>
    <div class="d-block">
        <p>{{ tool.descricao }}</p>
        {% for tag in tags %}
            <span class="hash">#{{ tag }}</span>
        {% endfor %}
    </div>
</div>
{% endfor %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% for pagina in tools.paginator.page_range %}
            <li class="page-item"><a class="page-link" href="?p={{ pagina }}">{{pagina}}</a></li>
        {% endfor %}
    </ul>
</nav>