{% extends 'base.html' %}

{% block  'titulo' %}VUTTR{% endblock %}
{% block  'conteudo' %}
    <div class="main-container">
        <div>
            <header>
                <h1>VUTTR</h1>
                <h2>Very Useful Tools to Remember</h2>
            </header>
            <content>
                <nav>
                    <form>
                        <input type="text">
                        <input type="checkbox">
                        <button>Add</button>
                    </form>
                </nav>
                <div>
                    <div>
                        <a>Nome</a>
                        <button>Remove</button>
                    </div>
                    <div>
                        <p>Descrição</p>
                        <p>hashtag</p>
                    </div>
                </div>
            </content>
        </div>
    </div>
{% endblock %}