{% extends 'base.html' %}
{% load static %}
{% block  'titulo' %}VUTTR{% endblock %}
{% block  'conteudo' %}
<content class="main-container row d-flex justify-content-center">
    <div>
        <div class="header">
            <h1>
                VUTTR
            </h1>
            <H3>
                Very Useful Tools to Remember
            </H3>
        </div>
        <div class="d-flex justify-content-between">
            <div>
                {% include 'parciais/_busca.html' %}
            </div>
            <div>
                {% include 'parciais/_modalAdd.html' %}
            </div>
        </div>
        <div class="tool-container">
            {% include 'parciais/_tools.html' %}
        </div>
    </div>
</content>

{% endblock %}
